.experienceForm {
    display: flex;
    flex-direction: column;
    width: 30em;
    gap:10px;
    
}

.experienceForm > button {
    margin-bottom: 20px;
    font-family: inherit;
    background-color:rgb(223, 159, 159);
    border-width: 1px;
    border-radius: 5px;
}

.experienceForm > input, textarea {
    border: 1px solid white;
    border-radius: 5px;
    height:20px;
    font-family: inherit;
}